server {
    listen 80;

    location / {
        proxy_pass http://localhost:3000;
    }

    location /api/ {
        proxy_pass http://localhost:5000;
    }

    location /db/ {
        proxy_pass http://localhost:3306;
    }
}
